<div class="game-card__wrapper">
  <div class="game-card" (mouseleave)="flipCardToFront()" (click)="onTrainCardClick()" [ngClass]="{flipped: isFlipped}">
      <div class="game-card__front-side">
          <div class="game-card__pic" [ngStyle]="{backgroundImage: 'url(' + cardData?.image + ')'}"></div>
          <div class="game-card__inner-wrap">
              <p class="game-card__text">{{cardData?.word}}</p>
              <button class="game-card__flip-btn" (click)="onButtonClick($event)" [ngClass] = "{invisible: isFlipped}">
                  <img class="rotate-img" src="assets/svg/rotate.svg" alt="rotate-button"></button>
          </div>
      </div>
      <div class="game-card__back-side">
          <div class="game-card__pic-back" [ngStyle]="{backgroundImage: 'url(' + cardData?.image + ')'}"></div>
          <div class="game-card__inner-wrap">
              <p class="game-card__text-back">{{cardData?.translation}}</p>
          </div>
      </div>
  </div>
</div>
